@media only screen and (max-width: 640px) {
/*
  .bi-eye-slash{
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 200;
    top: 28px;
    right: 10px;
    cursor: pointer;
  }
  */
  form:not(.sign-up-form, .login-form),
  .homepage,
  .appointment-page {
    padding-bottom: 120px !important;
  }

  form .input-group {
    margin-bottom: 4%;
  }
  
  #pills-login,
  #pills-register {
    margin-top: 10%;
  }

  h1 {
    font-size: 40px !important;
  }

  .go-back-btn {
    position: absolute;
    top: 5px;
  }

  .navbar ul {
    margin: auto !important;
    width: 100%;
  }
  
  .navbar ul li {
    text-align: center;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  select:invalid{
    color: gray;
  }
  option{
    color: black;
  }
  
  
  /* HOMEPAGE */
  
  .to-confirm {
    border-color: rgb(192, 192, 2) !important;
    background-color: yellow;
    color: black;
  }
  
  .confirmed {
    border-color: green !important;
    background-color: greenyellow;
    color: black;
  }
  
  .denied {
    border-color: rgb(128, 0, 0) !important;
    background-color: rgb(245, 45, 45);
    color: black;
  }
  
  .passed {
    border-color: rgb(80, 79, 79) !important;
    background-color: grey;
    color: black;
  } 
  
  .appointment-info {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border: 2px solid;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
  }

  .appointments-list {
    margin-top: 10%;
  }

  .appointments-list a {
    text-decoration: none;
  }

  .appointments-list ol {
    list-style: none;
    padding: 0 !important;
  }

  .appointments-list ol li {
    margin-bottom: 7.5%;
  }

  .appointments-list ol li:last-of-type {
    margin-bottom: 0;
  }

  .pets-list {
    margin-top: 7.5%;
  }

  .pets-list ul {
    list-style: none;
    padding: 0 !important;
  }

  .pets-list ul li {
    margin-bottom: 7.5%;
  }

  .pets-list a {
    text-decoration: none;
  }

  .form-check{
    text-align: left;
  }

  /* PET PAGE */
  .pet-page .pet-image {
    width: 100%;
    margin-bottom: 5%;
  }

  .pet-page .pet-info {
    width: 100%;
  }

  .pet-page .pet-page h1 {
    margin-bottom: 10%;
  }

  .pet-page .pet-image img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    max-height: 325px;

  }

  .pet-page .pet-info .form-outline:last-of-type {
    margin-bottom: 5%;
  }

  /*PETS PAGE */

  .pets-page .pet-details {
    width: 80%;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
  }

  .pet-details .pet-image {
    width: 50%;
    position: relative;
    float: left;
  }

  .pet-details .pet-image img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 96.5px;
  }

  .pet-details .pet-info {
    width: 50%;
    position: relative;
    float: left;
    text-align: left;
    color: black;
  }

  /* SEARCH GROOMER BY DATE */

  .search-by-date {
    padding-bottom: 120px;
  }

  .search-by-date #closeGroomers ul {
    list-style: none;
    padding: 0 !important;
  }


  .search-by-date li {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 7.5%;
    border: 2px solid #5cc7eb;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    background-color: white;
    cursor: pointer;
  }

  /* BOOKING PAGE */

  #datetimeForm form {
    margin-top: 5%;
    padding-bottom: 60px !important;
  }

  #datetimeForm input,
  #datetimeForm button {
    height: 40px;
  }

  /* SEARCH GROOMER BY NAME */
  .container .tab-content .search-modality:first-of-type {
    margin-top: 10%;
  }

  .container .tab-content .search-modality {
    margin-bottom: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

  }

  .container .tab-content .search-modality button {
    width: 100%;
  }

  .search-modality #searchByName {
    margin-top: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .search-modality #searchByName input {
    width: 70%;
    margin-right: 5%;
    position: relative;
    float: left;
    height: 40px;
  }

  .search-modality #searchByName button {
    width: 25%;
    position: relative;
    float: left;
    height: 40px;
  }

  .search-modality #searchByName:after {
    clear: both;
    content: "";
    display: table;
  }

  .search-groomer-by-name-page #nameGroomers ul,
  .search-groomer-by-name-page #closeGroomers ul,
  .search-groomer-by-name-page #favGroomers ul {
    list-style: none;
    padding: 0 !important;
  }

  .search-groomer-by-name-page li:first-of-type {
    margin-top: 7.5%;
  }

  .search-groomer-by-name-page li {
    width: 100%;
    margin-bottom: 7.5%;
    border: 2px solid #5cc7eb;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    background-color: white;
    cursor: pointer;
  }

  .search-groomer-by-name-page {
    padding-bottom: 120px;
  }

}

